.home-container {
  text-align: center;
  padding: 20px;
}

.home-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.cart-section {
  flex: 2;
  /* max-width: 300px; */
  min-width: 250px;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
}

.product-list-section {
  flex: 3;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
